<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReplicateVersionNo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
   <applicationSettings>
        <ReplicateVersionNo.Properties.Settings>
             <setting name="SourceFile" serializeAs="String">
                  <value>C:\Code\Multi\DLR\BlazorDLR\BlazorDLR.Web\BlazorDLR.Web.csproj</value>
             </setting>
             <setting name="DestinationFile" serializeAs="String">
                  <value>
					C:\Code\Multi\DLR\BlazorDLR\BlazorDLR.Shared\BlazorDLR.Shared.csproj
					C:\Code\Multi\DLR\BlazorDLR\BlazorDLR.Web.Client\BlazorDLR.Web.Client.csproj
					C:\Code\Multi\DLR\BlazorDLR\DLR.Core\DLR.Core.csproj
					C:\Code\Multi\DLR\BlazorDLR\DLR.Server.Migrations\DLR.Server.Migrations.csproj
				</value>
             </setting>
             <setting name="AppPlatforms" serializeAs="String">
                  <value>C:\Code\Multi\DLR\BlazorDLR\BlazorDLR\Platforms</value>
             </setting>
             <setting name="DisplayAssemblyUpdates" serializeAs="String">
                  <value>C:\Code\Multi\DLR\BlazorDLR\BlazorDLR\BlazorDLR.csproj</value>
             </setting>
        </ReplicateVersionNo.Properties.Settings>
    </applicationSettings>
</configuration>